@media only screen and (max-width: 600px) {
  .button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: calc((100% - 40%) / 2);
    margin-top: 15rem;
  }

  .button-85:before {
    content: "";
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
}
.recordCard {
  background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(93, 93, 93) 0%, rgb(0, 0, 0) 100%);
  color: white;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.recordHeader {
  background: radial-gradient(circle, rgb(63, 63, 63) 0%, rgb(112, 112, 112) 0%, rgb(42, 42, 42) 100%);
}

.recordClose {
  float: right;
}
.addRecord {
  margin: 1rem;
  background-color: rgb(88, 88, 88) !important;
  width: calc(100% - 70%);
}
.addRecord:hover {
  background-color: rgb(108, 108, 108) !important;
}

.recordForm {
  background-color: rgba(83, 83, 83, 0.478) !important;
  color: white !important;
}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: calc((100% - 12%) / 2);
    margin-top: 15rem;
  }

  .button-85:before {
    content: "";
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
}
.recordCard {
  background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(93, 93, 93) 0%, rgb(0, 0, 0) 100%);
  color: white;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.recordHeader {
  background: radial-gradient(circle, rgb(63, 63, 63) 0%, rgb(112, 112, 112) 0%, rgb(42, 42, 42) 100%);
}

.recordClose {
  float: right;
}
.addRecord {
  margin: 1rem;
  background-color: rgb(88, 88, 88) !important;
  width: calc(100% - 70%);
}
.addRecord:hover {
  background-color: rgb(108, 108, 108) !important;
}

.recordForm {
  background-color: rgba(83, 83, 83, 0.478) !important;
  color: white !important;
}

.spacer2{
  margin-top: 20%;
}
