.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin: 15% 0 0 44%;
}

.button-85:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.compCard {
  background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(93, 93, 93) 0%, rgb(0, 0, 0) 100%);
  color: white;
  text-align: center;
}
.compHeader {
  background: radial-gradient(circle, rgb(63, 63, 63) 0%, rgb(112, 112, 112) 0%, rgb(42, 42, 42) 100%);
}

.compClose {
  float: right;
}
.compRegister {
  margin: 1rem;
  background-color: rgb(132, 132, 132) !important;
}
.compRegister:hover {
  background-color: rgb(75, 75, 75) !important;
}

.compForm {
  background-color: rgba(108, 108, 108, 0.478) !important;
  color: white !important;
}
