.compTable {
  width: 50%;
  margin-left: calc((100% - 50%) / 2);
  margin-top: 2rem;
  border: 1px rgb(37, 37, 37) solid;


  .compTableBody {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
   
  }
}
