.pagrindinis1 {
  background: rgb(65, 65, 65);
  background: radial-gradient(circle, rgba(65, 65, 65, 1) 0%, rgba(105, 61, 61, 1) 0%, rgba(69, 69, 69, 1) 100%);
  color: white;
  width: 50%;
  margin-left: calc((100% - 50%) / 2);
  margin-top: 2rem;
}
