.loginForm{
    margin: 5%;
    color: white;
}
.loginBtnLink{
    color: white;
    text-decoration: none;
    background-color: rgb(60, 60, 60);
    padding: 2%;
    border-radius: 5px;
    width: 20%;
    text-align: center;
    margin-left: 40%;
    border: solid 2px rgb(165, 165, 165);
}
.loginBtnLink:hover{
    color: black;
    background-color: rgb(92, 92, 92);
}